<section class="row justify-content-center p-2 search-bar">
    <div class="col-1 pl-0 image-logo">
        <a href="/" title="Ir al home">
            <img src="/images/Logo_ML.png" alt="Ir al Inicio" />
        </a>
    </div>

    <form action="/items" method="GET" class="input-group col-9 pl-0 pr-0">
        <input type="text" name="search" value="{{query}}" placeholder="Nunca dejes de buscar"
            aria-label="Ingresa el producto que quieres buscar" class="input-text form-control" />
        <div class="input-group-append">
            <button type="submit" class="btn search-button"><img src="/images/ic_Search.png"
                    aria-label="Buscar" /></button>
        </div>
    </form>
</section>