<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="container-fluid">
      {{> search_bar }}
    </header>
    <main class="container-fluid">
      {{{body}}}
    </main>
  </body>
</html>
