// Colors
$yellow: #FFE600;
$dark-gray: #333;
$mid-dark-gray: #666;
$mid-gray: #999;
$light-gray: #EEE;
$blue: #3483FA;

// Fonts 12,14,16,18,24,28,46
$font-family: 'Montserrat', sans-serif;
$font-size-base: 12;


// Margins and paddings
$base: 18;